
table {
   border-collapse: collapse;
   border: 1px solid black;
   width: 700px;
   margin: 0 auto;

}

td, th {
    border: 2px solid black;
    padding: 5px;
    vertical-align: top;
}

caption {
    text-align: left;
    font-weight: bold;
}

#eve-table {
    width: 700px;
    margin-top: 50px;
}

#person2 {
    width: 100px;
    text-align: left;
}

#Q1 {
    text-align: left;
}

#feb, #jan {
    text-align: left;
} 
