html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgba(165, 42, 42, 0.741);
}

.site-title {
    border-top: 4px solid rgba(189, 92, 92, 0.707);
    border-bottom: 4px solid rgba(189, 92, 92, 0.707);
    text-align: center;
    padding: 2rem 0;
}

.section-title {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1.3rem 0.5rem;
}


.main-content {
  display: flex;
  width: 55rem;
  gap: 2.8rem;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 0.8rem;
  padding: 0 1rem;
  box-shadow: 2px 2px 5px rgb(70, 70, 70);
}

.course-list .list-item, 
.course-section > .section-title {
    white-space: nowrap;
}

.section-title {
    text-indent: -0.5rem;
}

.section-text:not(.steps-text) {
    text-indent: 1rem;
}

.knowledge-list,
.info-list {
    list-style-position: inside;
    text-indent: 2rem;
    padding: 0.8rem 0;
}

.knowledge-list,
.info-list,
.course-list,
.page-list,
.more-list {
    list-style-type: square;
}

.more-list {
    margin-top: 1rem;
    margin-left: -1rem;
}


/* SIDEBAR */
.site-sidebar {
    padding: 4rem 0.5rem;
}

.page-list{
    list-style-type: none;
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
}

.page-list .list-item a {
    text-decoration: none;  
}

.page-list .list-item {
    border: 1px solid rgba(165, 42, 42, 0.741);
    padding: 0.5rem 2rem;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 2px;
}

/* Remaining icon for the links */


